<% provide(:title, 'Show') %>

<div class="container">
	<div class="row">
		
	<label>text_ru</label>	
	<textarea> <%= @card.text_ru %> </textarea>
	
	<label>test_en</label>	
	<textarea> <%= @card.text_en %> </textarea>
	
	<label>review_date</label>		
	<label> <%= @card.review_date %> <label>
	
    </div>
</div>
