<% provide(:title, 'Index') %>
<div class="container-fluid">
	<div class="panel">
	  	  <%= link_to "add Card", new_card_path,
                         class:"btn btn-primary btn-block" %>	
	</div>  
</div>

<%= render @cards %>